div.miaosha {
  width: 100%;
  height: 401.6px;
  padding-top: 4px;
}

.miaosha input {
  display: none;
}

.miaosha label {
  width: 36px;
  height: 24px;
  position: absolute;
}

.miaosha label::before {
  display: block;
  width: 24px;
  height: 16px;
  padding: 3px 5px;
  border: 1px solid #e0e0e0;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
}

.miaosha label[class^="right-to"] {
  right: 0;
  top: -35px;
  color: #b0b0b0;
  cursor: pointer;
}

.miaosha label[class^="left-to"] {
  right: 35px;
  top: -35px;
  color: #b0b0b0;
  cursor: pointer;
}

.miaosha > .miaosha-bottom > label.left-to-1 {
  color: #e0e0e0;
  cursor: default;
}

#right-to-2:checked~.miaosha-bottom-swiper>ul {
  left: -992px;
  transition: 1s;
}

#right-to-2:checked~label.left-to-1 {
  color: #b0b0b0;
  cursor: pointer;
}

#right-to-2:checked~label.right-to-3, #right-to-2:checked~label.left-to-1 {
  z-index: 999;
}

#right-to-3:checked~.miaosha-bottom-swiper>ul {
  left: -1736px;
  transition: 1s;
}

#right-to-3:checked~label.right-to-3 {
  color: #e0e0e0;
  cursor: default;
  z-index: 999;
}

#right-to-3:checked~label.left-to-2 {
  z-index: 999;
}

#left-to-2:checked~.miaosha-bottom-swiper>ul {
  left: -992px;
  transition: 1s;
}

#left-to-2:checked~label.left-to-1 {
  color: #b0b0b0;
  cursor: pointer;
}

.miaosha-bottom label:hover {
  color: #ff6709;
}

#left-to-1:checked~.miaosha-bottom-swiper>ul {
  left: 0;
  transition: 1s;
}

#left-to-1:checked~label.right-to-2 {
  z-index: 999;
}

#left-to-1:checked~label.left-to-1 {
  color: #e0e0e0;
  cursor: default;
  z-index: 999;
}

div.miaosha-top {
  width: 1226px;
  height: 57.6px;
  margin: auto;
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  color: #333;
}

div.miaosha-bottom {
  display: flex;
  position: relative;
  width: 1226px;
  height: 340px;
  margin: auto;
}

div.miaosha-bottom-time {
  width: 234px;
  height: 300px;
  padding-top: 39px;
  background-color: rgb(241, 237, 237);
  border-top: 1px solid #e53935;
  ;
}

div.time-top {
  width: 100%;
  padding-top: 15px;
  font-size: 21px;
  color: #ef3a3b;
  text-align: center;
}

.miaosha-bottom-time img {
  display: block;
  width: 34px;
  height: 53px;
  margin: 25px auto;
}

div.time-to-end {
  font-size: 15px;
  color: rgba(0, 0, 0, .54);
  text-align: center;
}

div.time {
  width: 168px;
  margin: 28px 33px 0;
}

div.time>span {
  float: left;
  background: #605751;
  width: 46px;
  height: 46px;
  font-size: 24px;
  line-height: 46px;
  text-align: center;
  color: #fff;
}

div.time>i {
  float: left;
  width: 15px;
  height: 46px;
  line-height: 46px;
  color: #605751;
  font-size: 28px;
  text-align: center;
  font-style: normal;
}

div.miaosha-bottom-swiper {
  width: 978px;
  height: 340px;
  margin-left: 14px;
  position: relative;
  overflow: hidden;
}

div.miaosha-bottom-swiper>ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  position: absolute;
  left: 0;
}

div.miaosha-bottom-swiper>ul>li {
  width: 234px;
  height: 339px;
  margin-right: 14px;
  background-color: rgb(255, 255, 255);
  border-top: 1px solid;
}

div.miaosha-bottom-swiper>ul>li:last-child {
  margin-right: 0;
}

div.miaosha-bottom-swiper>ul>li>a {
  display: block;
  width: 234px;
  height: 300px;
  padding-top: 39px;
}

div.miaosha-bottom-swiper>ul>li img {
  display: block;
  width: 160px;
  height: 160px;
  padding: 0 37px 27px 37px;
}

div.miaosha-bottom-swiper>ul>li h3 {
  width: 194px;
  margin: 0 20px 3px 20px;
  font-size: 14px;
  font-weight: 400;
  color: #212121;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.miaosha-desc {
  height: 18px;
  margin: 0 20px 12px;
  font-size: 12px;
  text-align: center;
  text-overflow: ellipsis;
  color: #b0b0b0;
  overflow: hidden;
  white-space: nowrap;
}

.miaosha-price {
  text-align: center;
}

.miaosha-price>span:first-child {
  color: #ff6709;
}

.miaosha-price>span:last-child {
  color: #b0b0b0;
  text-decoration: #b0b0b0 solid line-through;
}

/* 轮播图上边框颜色 */

.miaosha-bottom-swiper>ul>li:nth-child(5n+1) {
  border-top-color: #ffac13;
}

.miaosha-bottom-swiper>ul>li:nth-child(5n+2) {
  border-top-color: #83c44e;
}

.miaosha-bottom-swiper>ul>li:nth-child(5n+3) {
  border-top-color: #2196f3;
}

.miaosha-bottom-swiper>ul>li:nth-child(5n+4) {
  border-top-color: #e53935;
}

.miaosha-bottom-swiper>ul>li:nth-child(5n+5) {
  border-top-color: #00c0a5;
}